//COLORS
$color-primary: #FFF800;
$color-secondary: #151718;
$color-white: #ffffff;
$color-black: #323632;

//CARD
$card-shadow: 0 1.5rem 4rem rgba($color-black, .15);

//FONT
$default-font-size: 1.6rem;