.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  height: 100vh;
  max-height: 900px;
  min-height: 500px;
  width: 100%;
  position: relative;
  z-index: 15;
  
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    // background-color: purple;
  }
  
  &__console-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
  }

  &__console {
    width: 100%;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;

      &:hover .u-underline {
        background-image: linear-gradient(30deg, $color-secondary 50%, transparent 50%);
        color: $color-primary;
        text-decoration-color: $color-secondary;
        background-size: 350% 80%;
      }
      
      &:hover .u-strong {
        background-size: 280% 100%;
        background-image: linear-gradient(30deg, $color-primary 50%, transparent 50%);
      }
  }


}

.section-events {
  display: flex;
  width: 100%;
  background: #F7F7F7;
  position: relative;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    box-sizing: border-box;
    padding-bottom: 100px;
  }

  &__next-event{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    box-sizing: border-box;
  }

  &__previous-events{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    box-sizing: border-box;
  }

  &__event-gallery{
    display:flex;
    justify-content: center;
    max-height:500px;
    align-items: center;
    width: 100%;
    box-sizing: content-box;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    flex-wrap: wrap;
     -ms-overflow-style: none;

    &::-webkit-scrollbar {
  display: none;
}
  }
}

.section-mentors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-height: 720px;
  min-height: 500px;
  background-color: $color-secondary;
  position: relative;

  
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    box-sizing: border-box;
    z-index: 5;
  }
  
  &__box{
    display: flex;
    // width: 100%;
    overflow-x: scroll;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 5;
    // background-color: aqua;
    .card__mentor:last-child{
      &::after{
        right: -8em;
        width:calc(100% + 16em);
      }
    }
  }
}

.section-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $color-primary;

  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    box-sizing: border-box;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__text-box{
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__img-box{
    width: 30%;
    align-items: center;
    justify-content: flex-start;
  }
  &__img{
    width: 80%;
  }
  &__social-media{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-secondary;
  
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $color-secondary;
  }
  
  &__box{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items:stretch;
    justify-content: stretch;
  }

  &__text-box{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    & .heading-secondary{
      text-align: left;
    }
  }
}

  .community{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__box{
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__img-box{
      display: flex;
      max-width: 16rem;
      min-width: 16rem;
      max-height: 18.5rem;
      min-height: 18.5rem;
      align-items: center;
      justify-content: center;
    }
    &__img{
      width: 100%;
      transform: scale(1);
      transition: $default-transition-time;
      
      &:hover{
        // filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.1));
        filter: drop-shadow(0px 0px 10px currentColor);
        transform: scale(1.08);
      }
    }
  }

  .designedby{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__social-media{
      display: flex;
      flex-direction: row;
      justify-content: space;
      align-items: center;
    }
  }

  .parallaxHexagon{
    display: block;
    box-sizing: border-box;
    position: absolute;
    
    &__contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 200px;
    min-width: 150px;
  }

    &__contain--bunch{
      max-width: 410px;
      min-width: 310px;
    }

    &__img{
      display: block;
      width: 100%;
      height: auto;
      position: relative;
    }

    &--1{
      top: 30%;
      left: -6%;
      z-index: -5;
    }
    
    &--2{
      top: 45%;
      left: 30%;
      // z-index: -50220;
    }
    
    &--3{
    top: -10.5%;
    left: 23%;
    }
    
    &--4{
      top: 74.8%;
      left: 6%;
    }
    
    &--5{
      top: 30%;
      left: 50%;
      z-index: -5;
    }
    
    &--6{
      top: 74.8%;
      left: 80%;
      z-index: -5;
    }
    
    &--7{
      top: 40%;
      left: 0%;

    }
    
    &--8{
      top: 78%;
      right: 30%;

    }
    
    &--9{
      top: 20%;
      right: 0%;
    }
  }
