.header {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  max-height: 900px;
  min-height: 500px; }
  .header__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px; }
  .header__logo-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%; }
  .header__logo {
    width: 100%; }
  .header__text-box {
    display: flex;
    align-items: center;
    width: 45%; }
  .header__slider {
    display: flex;
    position: absolute;
    top: 100px;
    right: 0%;
    height: 720px;
    width: 1080px;
    background-color: #FFF800;
    z-index: -1000;
    overflow: hidden; }
    .header__slider__img {
      width: 100%;
      object-fit: cover;
      mix-blend-mode: darken;
      transition: All ease-in-out 0.3s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-underline {
  text-decoration: underline;
  text-decoration-color: #FFF800;
  background-image: linear-gradient(30deg, #FFF800 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 80%;
  transition: All ease-in-out 0.3s; }

.u-strong {
  background-image: linear-gradient(30deg, #FFF800 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position: 0;
  transition: All ease-in-out 0.3s; }

.u-align-center {
  text-align: center; }

.u-width-80 {
  width: 80% !important; }

.u-width-60 {
  width: 60% !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-medium {
  font-weight: 500; }

.u-semiBold {
  font-weight: 600; }

.u-bold {
  font-weight: 700; }

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/SpaceGrotesk-Light.otf"); }

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SpaceGrotesk-Regular.otf"); }

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/SpaceGrotesk-Medium.otf"); }

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/SpaceGrotesk-SemiBold.otf"); }

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/SpaceGrotesk-Bold.otf"); }

body {
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: 400;
  color: #323632; }

.heading-primary {
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 6rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 2rem;
    line-height: 2rem; }

.heading-secondary {
  display: block;
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem; }
  .heading-secondary--yellow {
    color: #FFF800; }
  .heading-secondary--white {
    color: #ffffff; }
  .heading-secondary--dark {
    color: #151718; }

.heading-tertiary {
  display: block;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 3rem;
  transition: All ease-in-out 0.3s; }
  .heading-tertiary--main {
    color: #FFF800;
    font-size: 4rem; }
  .heading-tertiary--sub {
    color: #ffffff;
    font-size: 3rem; }

.paragraph {
  font-size: 1.6rem;
  font-size: 1.8rem; }
  .paragraph--yellow {
    color: #FFF800; }
  .paragraph--white {
    color: #ffffff; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes underline {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.slides {
  display: flex;
  position: absolute;
  top: 100px;
  right: 0%;
  height: 720px;
  width: 1080px;
  background-color: #FFF800;
  z-index: -1000; }

.btn {
  font-size: 1.6rem;
  font-size: 1.8rem;
  font-family: "SpaceGrotesk", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  display: inline-block;
  transition: All ease-in-out 0.3s;
  position: relative;
  cursor: pointer; }
  .btn__link {
    background-color: none;
    background: none;
    border: none; }
    .btn__link:focus {
      outline: none;
      outline-offset: none; }
    .btn__link:active {
      font-weight: bold;
      color: #0053ba; }
    .btn__link:hover {
      letter-spacing: .2em;
      font-weight: bold;
      font-size: 1.1em;
      color: #FFF800; }
    .btn__link--white {
      color: #ffffff; }
    .btn__link--yellow {
      color: #FFF800; }
  .btn__icon-link {
    background-color: none;
    background: none;
    border: none;
    padding-left: .8rem;
    padding-right: .8rem; }
    .btn__icon-link:focus {
      outline: none;
      outline-offset: none; }
    .btn__icon-link:active {
      font-weight: bold;
      color: #0053ba; }
    .btn__icon-link:hover {
      transform: scale(1.3); }
    .btn__icon-link--white {
      color: #ffffff; }
      .btn__icon-link--white:hover {
        color: #FFF800; }
    .btn__icon-link--yellow {
      color: #FFF800; }
      .btn__icon-link--yellow:hover {
        color: #ffffff; }
    .btn__icon-link--dark {
      color: #151718; }
      .btn__icon-link--dark:hover {
        color: #FFF800; }
    .btn__icon-link--dark-white {
      color: #151718; }
      .btn__icon-link--dark-white:hover {
        color: #ffffff; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative; }
  .card__next-event {
    justify-content: flex-start;
    border-radius: 1.2em;
    width: 100%;
    padding: 2.4em 3.2em;
    background-color: #151718; }
  .card__previous-event {
    width: 18rem;
    height: 24rem;
    overflow: hidden;
    margin-bottom: .8rem;
    margin-left: .4rem;
    margin-right: .4rem;
    transition: All ease-in-out 0.3s;
    border-radius: .8rem; }
    .card__previous-event__img {
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      background-color: #FFF800;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: darken;
      transition: All ease-in-out 0.3s; }
    .card__previous-event__box-text {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 2000;
      align-items: center;
      justify-content: center;
      padding: .8rem;
      border-radius: .8rem;
      transition: All ease-in-out 0.3s; }
    .card__previous-event .heading-tertiary--main {
      transform: translateX(-25rem); }
    .card__previous-event .heading-tertiary--sub {
      transform: translateX(25rem); }
    .card__previous-event:hover .card__previous-event__box-text {
      background-color: rgba(0, 0, 0, 0.5); }
    .card__previous-event:hover .card__previous-event__img {
      filter: blur(1px);
      -webkit-filter: blur(1px);
      background-blend-mode: normal;
      background-color: none;
      transform: scale(1); }
    .card__previous-event:hover .heading-tertiary--main {
      transform: translateX(0rem); }
    .card__previous-event:hover .heading-tertiary--sub {
      transform: translateX(0rem); }
  .card__mentor {
    width: 18rem;
    max-width: 18rem;
    min-width: 18rem;
    height: 24rem;
    max-height: 24rem;
    min-height: 24rem;
    margin-bottom: .8rem;
    margin-left: 8em;
    margin-right: .4rem;
    transition: All ease-in-out 0.3s;
    border-radius: .8rem; }
    .card__mentor__box-img {
      width: 100%;
      height: 100%;
      border-radius: .8rem;
      overflow: hidden; }
    .card__mentor__img {
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      background-color: rgba(21, 23, 24, 0);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-blend-mode: color-dodge;
      transition: All ease-in-out 0.3s; }
    .card__mentor__box-text {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2000;
      align-items: center;
      justify-content: center;
      padding: .8rem;
      border-radius: .8rem;
      transition: All ease-in-out 0.3s; }
    .card__mentor__social-media {
      flex-direction: row;
      right: 0;
      top: 0;
      width: 0%;
      opacity: 0;
      align-items: center;
      justify-content: center;
      transition: All ease-in-out 0.3s; }
    .card__mentor:hover .card__mentor__box-text {
      background-color: rgba(0, 0, 0, 0.6); }
    .card__mentor:hover .card__mentor__img {
      background-blend-mode: normal;
      background-color: none;
      transform: scale(1); }
    .card__mentor:hover .card__mentor__social-media {
      width: 100%;
      mix-blend-mode: normal;
      opacity: 1; }
    .card__mentor .heading-tertiary--main {
      transform: translate(-8rem, 8rem);
      transition: All ease-in-out 0.3s;
      text-align: center;
      position: relative;
      transform: translateX(-50%);
      bottom: -30%; }
    .card__mentor:hover .heading-tertiary--main {
      transform: translateX(0);
      bottom: 0; }

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  height: 100vh;
  max-height: 900px;
  min-height: 500px;
  width: 100%;
  position: relative;
  z-index: 15; }
  .section-about__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px; }
  .section-about__console-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%; }
  .section-about__console {
    width: 100%; }
  .section-about__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%; }
    .section-about__text-box:hover .u-underline {
      background-image: linear-gradient(30deg, #151718 50%, transparent 50%);
      color: #FFF800;
      text-decoration-color: #151718;
      background-size: 350% 80%; }
    .section-about__text-box:hover .u-strong {
      background-size: 280% 100%;
      background-image: linear-gradient(30deg, #FFF800 50%, transparent 50%); }

.section-events {
  display: flex;
  width: 100%;
  background: #F7F7F7;
  position: relative; }
  .section-events__wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    box-sizing: border-box;
    padding-bottom: 100px; }
  .section-events__next-event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    box-sizing: border-box; }
  .section-events__previous-events {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    box-sizing: border-box; }
  .section-events__event-gallery {
    display: flex;
    justify-content: center;
    max-height: 500px;
    align-items: center;
    width: 100%;
    box-sizing: content-box;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    flex-wrap: wrap;
    -ms-overflow-style: none; }
    .section-events__event-gallery::-webkit-scrollbar {
      display: none; }

.section-mentors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-height: 720px;
  min-height: 500px;
  background-color: #151718;
  position: relative; }
  .section-mentors__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    box-sizing: border-box;
    z-index: 5; }
  .section-mentors__box {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 5; }

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FFF800; }
  .section-contact__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    box-sizing: border-box; }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .contact__text-box {
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start; }
  .contact__img-box {
    width: 30%;
    align-items: center;
    justify-content: flex-start; }
  .contact__img {
    width: 80%; }
  .contact__social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #151718; }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #151718; }
  .footer__box {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch; }
  .footer__text-box {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start; }
    .footer__text-box .heading-secondary {
      text-align: left; }

.community {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .community__box {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  .community__img-box {
    display: flex;
    max-width: 16rem;
    min-width: 16rem;
    max-height: 18.5rem;
    min-height: 18.5rem;
    align-items: center;
    justify-content: center; }
  .community__img {
    width: 100%;
    transform: scale(1);
    transition: All ease-in-out 0.3s; }
    .community__img:hover {
      filter: drop-shadow(0px 0px 10px currentColor);
      transform: scale(1.08); }

.designedby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .designedby__social-media {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center; }

.parallaxHexagon {
  display: block;
  box-sizing: border-box;
  position: absolute; }
  .parallaxHexagon__contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 200px;
    min-width: 150px; }
  .parallaxHexagon__contain--bunch {
    max-width: 410px;
    min-width: 310px; }
  .parallaxHexagon__img {
    display: block;
    width: 100%;
    height: auto;
    position: relative; }
  .parallaxHexagon--1 {
    top: 30%;
    left: -6%;
    z-index: -5; }
  .parallaxHexagon--2 {
    top: 45%;
    left: 30%; }
  .parallaxHexagon--3 {
    top: -10.5%;
    left: 23%; }
  .parallaxHexagon--4 {
    top: 74.8%;
    left: 6%; }
  .parallaxHexagon--5 {
    top: 30%;
    left: 50%;
    z-index: -5; }
  .parallaxHexagon--6 {
    top: 74.8%;
    left: 80%;
    z-index: -5; }
  .parallaxHexagon--7 {
    top: 40%;
    left: 0%; }
  .parallaxHexagon--8 {
    top: 78%;
    right: 30%; }
  .parallaxHexagon--9 {
    top: 20%;
    right: 0%; }
